.wgtTilemap {
    width: calc(var(--wgtTilemapWidth) * var(--wgtTileWidth));
    height: calc(var(--wgtTilemapHeight) * var(--wgtTileHeight));

    image-rendering: pixelated;
}

.wgtTile {
    position: absolute;

    left: calc(var(--wgtX) * var(--wgtTileWidth));
    top: calc(var(--wgtY) * var(--wgtTileHeight));

    width: var(--wgtTileWidth);
    height: var(--wgtTileHeight);

    background-image: var(--wgtTilesetUrl);
    background-position-x: calc(-1 * var(--wgtTilesetX) * var(--wgtTileWidth));
    background-position-y: calc(-1 * var(--wgtTilesetY) * var(--wgtTileHeight));
}
